<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>Server shop</title>
    <meta charset="UTF-8">
</head>

<body>
<main layout:fragment="main">
	<div class="card">
		<h2 class="card-title">서버 사용</h2>
		<form action="#" th:action="@{|/usages/${orderItemId}/new|}" th:object="${usageRequestDto}" method="post">
			<label>회원</label>
			<select th:field="*{memberId}">
                <option th:value="${memberResponseDto.id}"
                        th:text="${memberResponseDto.username}">회원1</option>
			</select>
			<label>주문상품명 (대여 서버)</label>
			<select th:field="*{orderItemId}">
                <option th:value="${orderItem.id}"
                        th:text="${orderItem.name}">주문상품1</option>
			</select>
			<label th:for="connectDate">사용시작시간</label>
			<input type="text" th:field="*{connectDate}" />
			<label th:for="disconnectDate">사용종료시간</label>
			<input type="text" th:field="*{disconnectDate}" />
			<input type="submit" value="확인" />
		</form>
	</div>
</main>
<script layout:fragment="script" th:inline="javascript">
const main = function() {
    const activateTime = new Date([[${orderItem.activateDate}]]);
    const expireTime = new Date([[${orderItem.expireDate}]]);
    makeDualTimePicker("#connectDate", "#disconnectDate", activateTime, expireTime);
}
main();
</script>
</body>
</html>
